<div class="background-container">
  <!-- CRT Effect Overlay -->
  <div class="crt-overlay">
    <!-- Scanlines -->
    <div class="scanlines"></div>
    
    <!-- CRT Glow -->
    <div class="crt-glow"></div>
    
    <!-- CRT Vignette -->
    <div class="crt-vignette"></div>
    
    <!-- CRT Curvature -->
    <div class="crt-curvature"></div>
  </div>
  
  <!-- Lightning animation -->
  <div class="lightning" [class.active]="lightningActive"></div>
  
  <!-- Alarm animation -->
  <div class="alarm" [class.active]="alarmActive">
    <div class="alarm-text">US-EAST-1 IS DOWN</div>
  </div>

  hi btw i hacked u hehehehehe :*
  
  <!-- Countdown Timer -->
  <app-countdown-timer></app-countdown-timer>
  
  <!-- Shareholder Value -->
  <app-shareholder-value></app-shareholder-value>
</div>
