<div class="social-entry-container" [class.fade-out]="!isVisible">
  <div class="social-icons">
    <a href="https://www.instagram.com/braelyn.b__" target="_blank" class="social-link instagram">
      <i class="fab fa-instagram icon"></i>
    </a>
    <a href="https://x.com/braelyn_ai" target="_blank" class="social-link x">
      <i class="fab fa-x-twitter icon"></i>
    </a>
    <a href="https://www.linkedin.com/in/braelyn-ai/" target="_blank" class="social-link linkedin">
      <i class="fab fa-linkedin-in icon"></i>
    </a>
    <a href="https://www.youtube.com/shorts/SXHMnicI6Pg?si=-7iEfF0tqKSGpJVa" target="_blank" class="social-link onlyfans">
      <img src="assets/OnlyFans_Logo_Icon_Blue.webp" alt="OnlyFans" class="icon onlyfans-icon">
    </a>
  </div>
  <button class="enter-button" (click)="onEnterClick()" (mouseenter)="onButtonHover()" (mouseleave)="onButtonLeave()" #enterButton>{{ buttonText }}</button>
  <div class="text-links">
    <a routerLink="/blog" class="text-link">Blog</a>
    <a routerLink="/work" class="text-link">Work</a>
    <a routerLink="/personal" class="text-link">Personal</a>
  </div>
</div>
